# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Folders
/.vscode
<<<<<<<< HEAD:cpp/divideAndConquer/Fibonacci/.gitignore
/build
/CMakePresets.json
========
/CMakeLists.txt
/.vscode/
/cmake-build-debug/
>>>>>>>> 9684013c4c1cab6f1a602552c0e9cb54ed04b231:.gitignore
/out